{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data analysis app</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/element_timeout.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Data Analysis App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error'%}
        <div class="d-flex justify-content-end" style="text-align: center;">
            <div id="msg" class="alert alert-dismissible alert-danger" style="margin: 1%; width: 20%;">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
        </div>
        {% endif %}
        {% if message.tags == 'success'%}
        <div class="d-flex justify-content-end" style="text-align: center;">
            <div id="msg" class="alert alert-dismissible alert-success" style="margin: 1%; width: 20%;">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}


{% block content %}
{% endblock %}

</body>
</html>